section#main-content {
	padding-bottom: 20px;
	
	form {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
		
		input[type=text] {
			.form-control-focus(@beyonderme-color-orange);
		}
		.btn {
			.button-variant(@beyonderme-color-white; @beyonderme-color-orange; darken(@beyonderme-color-orange, 5%));
			
			&.readonly-state {
				background-image: url('../images/form-loader.gif');
				background-repeat: no-repeat;
				background-position: 50% 50%;
				
				span {
					visibility: hidden;
				}
			}
		}
		h3 {
			margin-top: 0;
		}
	}
	
	.popover {
		font-size: 15px;
		.alert-variant(@state-danger-bg, @state-danger-border, @state-danger-text);
		
		.arrow {
			border-top-color: @state-danger-border;
			
			&::after {
				border-top-color: @state-danger-bg;
			}
		}
	}
}